.SushiKit {
  padding: 0 .5rem;
  width: 100%;
}
.SushiKit .bento {
  padding: 1rem;
  padding-top: 2rem;
  margin: 0 auto;
  
  background-color: #8F859B;
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;

  overflow: hidden;
}
.SushiKit .price {
  font-size: 3rem;
  text-align: center;
  color: black;

  font-family: 'Cantata One', serif;
  font-weight: bold;
}

@media (min-width: 500px) {
  .SushiKit {
    width: 495px;
  }
}