.CakeKit {
  padding: 0 .5rem;
  width: 100%;
}
.CakeKit .bento {
  padding: 1rem;
  padding-top: 2rem;
  margin: 0 auto;
  
  background-color: red;
  width: 100%;
  min-height: 3 00px;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;

  overflow: hidden;
}
.CakeKit .price {
  font-size: 3rem;
  text-align: center;
  color: black;

  font-family: 'Balsamiq Sans', cursive;
  
}

@media (min-width: 500px) {
  .CakeKit {
    width: 495px;
  }
}